code,
pre {
  border-radius: 4px;
  font-family: 'Overpass Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
}

code:not(.vscode-highlight-code) {
  background-color: #1c1e26;
  font-size: 1em;
  padding: 0 8px;
  color: #e5e5e5;
}

em {
  font-style: italic;
}

del {
  opacity: 0.75;
}

ul,
ol {
  margin: 1rem 0 !important;
}

ul.MuiGrid-container {
  list-style: none;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

p img {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.link--no-style,
.link--no-style:active,
.link--no-style:hover,
.link--no-style:visited,
.link--no-style:focus {
  text-decoration: none;
  color: inherit;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}

strong {
  font-weight: 500 !important;
}

h1 > span,
h2 > span {
  display: block;
  margin-top: 0.5em !important;
}

@media (min-width: 960px) {
  .MuiContainer-maxWidthMd {
    max-width: 800px !important;
    max-width: 85ch !important;
  }
  header .MuiContainer-maxWidthMd {
    max-width: 980px !important;
  }
}

@media (max-width: 960px) {
  article.MuiContainer-root {
    width: calc(100% - 1em);
  }
}

article p.MuiTypography-gutterBottom,
article hr.MuiDivider-root {
  margin-bottom: 0;
  margin-top: 2em;
}

article hr.MuiDivider-root {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

pre {
  margin: 2em 0;
}

.MuiTypography-caption + pre {
  margin-top: 0;
}

.no-margin {
  margin: 0 !important;
}
.MuiTypography-caption.close-caption {
  margin-top: 0.5rem;
}

.MuiTypography-caption.close-caption > p {
  font-size: 1rem;
  margin-top: 0;
}

.footer-tags {
  margin-top: 2em;
}

.vscode-highlight {
  counter-reset: line;
}

.vscode-highlight-line::before {
  counter-increment: line;
  content: counter(line);
  color: rgba(100, 100, 100, 0.5);
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  -webkit-user-select: none;
  user-select: none;
}

pre + .MuiTypography-caption.close-caption {
  margin-top: -1.8rem;
}
