.link--no-style,
.link--no-style:active,
.link--no-style:hover,
.link--no-style:visited,
.link--no-style:focus {
  text-decoration: none;
  color: inherit;
}

code,
pre {
  font-family: "Overpass Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

em {
  font-style: italic;
}

del {
  opacity: 0.75;
}